.markdown-navigation {
  font-size: 16px;
  width: 100%;
  overflow: hidden;
  color: hsl(var(--foreground));
  font-size: 0.9rem;
  font-weight: lighter;
}

.markdown-navigation .title-anchor {
  display: block;
  color: hsl(var(--foreground));
  /* transition: all 0.2s; */
  margin: 0.3rem 0;
  font-weight: lighter;
  line-height: 1.5rem;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.markdown-navigation .title-anchor:hover,
.markdown-navigation .title-anchor.active {
  color: #ffcd64;
  text-decoration: inherit;
}

.markdown-navigation .title-anchor.active {
  font-size: 1.1rem;
  @apply font-normal transition-all duration-300 ease-in-out;
}

.markdown-navigation .title-anchor small {
  margin: 0 0.8em;
}

.markdown-navigation .title-level1 {
  padding-left: 0em;
}

.markdown-navigation .title-level2 {
  padding-left: 1rem;
}

.markdown-navigation .title-level3 {
  padding-left: 2rem;
}

.markdown-navigation .title-level4,
.markdown-navigation .title-level5,
.markdown-navigation .title-level6 {
  @apply hidden;
}
